body {
    background-color: #000000;
    margin: 0px;
    font-family: Sans-serif;
    font-size: 12px;
    background-image: url(images/bg.jpg);
    background-size: cover;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
    width: 6px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #b3b3b3;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b3b3b3;
    width: 6px;
}



.logoOpenHack { width: 200px; float: right; }
h1 { font-size: 35px; font-weight: bolder; float: left; margin: 5px; }
.divMargin { margin:20px; }


@media only screen and (max-width: 450px) {
    .logoOpenHack { width: 150px;  }
     h1 { font-size: 30px;}
     .divMargin { margin:5px; }
}


.panel {
    background-color: #fff;
    max-width: 500px;
    min-width: 300px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 1px #808080;
}



.graficoOnline {
    width: 300px;
    margin: auto;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    float: right;
    margin: 10px 0px 10px 10px;
}

.btn:hover {
    background-color: #80b9d4;
    color:#fff;
}

.tableServer {
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
}

th, td {
    border: 0px;
    border-bottom: 1px solid #ddd;
    padding:5px;
}

th {
    font-size: 11px;
    text-align: left;
    background-color: #80b9d4;
    font-weight: normal;
    color: #fff;
}

tr:hover {
    background-color: #efefef;
}

.header {
    height: 50px;
}

.icoTable {
    width: 25px;
}

.ipTable{ width:100px;
}

.fillTable {
    width: 180px;
}


.newInstancePopUpPanel {
    height: 75px;
    width: 249px;
    margin: 150px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.lastListUpdate {
    float: left;
    margin-top: 20px;
}

.graphicPopUpPanel {
    height: 250px;
    width: 400px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.bgPopUp {
    position: fixed;
    background-color: #00000066;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.input {
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #efefef;
    width: 100%;
    margin: 5px 0px;
}

.icoDelete {
    background-image: url(images/icoDelete.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.icoClose {
    background-image: url(images/icoClose.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
}

.icoStatus {
    background-image: url(images/icoGraphic.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.scrollTable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
    width: 100%;
}