body {
    background-color: #efefef;
    margin: 20px;
    font-family: Sans-serif;
}


.panel {
    background-color:#fff;
    width:500px;
    margin:10px auto;
    border-radius:5px;
    padding:20px;
    box-shadow:1px 1px 1px #808080;
}

.graficoOnline {
    width: 300px;
    margin: auto;
}

.btn {

}

.tableServer {
    width:100%;
}

th, td {
    border: 0px;
    border-bottom: 1px solid #ddd;
}